<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>
    <title>Diretiva - v-for</title>
</head>
<body>
    <div id="app">
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(curso, chave) in cursos2">
                    <td>{{chave}}</td>
                    <td>{{curso.titulo}}</td>
                    <td>{{curso.descricao}}</td>
                </tr>
                <tr v-for="({titulo, descricao}, chave) in cursos2"> <!-- destructuring assignment -->
                    <td>{{chave}}</td>
                    <td>{{titulo}}</td>
                    <td>{{descricao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        const vm = new Vue ({
            el: '#app',
            data: {
                cursos2: {
                    1000: {
                        titulo: 'Laravel',
                        descricao: 'Domine o framework PHP mais poderoso do mundo!'
                    },
                    1001: {
                        titulo: 'Banco de dados',
                        descricao: 'Aprenda os principais banco de dados relacionais do mercado!'
                    }
                }
            },
            methods: {}
        });
    </script>
</body>
</html>